whenever sqlerror exit failure
spool {{oracle_base}}/admin/{{cdb_name}}/sql/alter_logfile_group_blksz.out
set echo on
alter database add logfile group 3 ('{{redo1_dg}}','{{redo2_dg}}') size {{redo_size}}m blocksize 4096;
alter database drop logfile group 2;
alter database add logfile group 2 ('{{redo1_dg}}','{{redo2_dg}}') size {{redo_size}}m blocksize 4096;
alter system switch logfile;
shutdown immediate;
startup;
alter database drop logfile group 1;
alter database add logfile group 1 ('{{redo1_dg}}','{{redo2_dg}}') size {{redo_size}}m blocksize 4096;
spool off
