{{cdb_name}}_{{ansible_hostname}} =
  (DESCRIPTION =
    (ADDRESS = (PROTOCOL = IPC)(HOST = {{ansible_hostname}})(KEY = {{cdb_name}}))
    (ADDRESS = (PROTOCOL = TCP)(HOST = {{ansible_hostname}}.{{ansible_domain}})(PORT = 1521))
    (CONNECT_DATA =
      (SERVER = DEDICATED)
      (SID = {{cdb_name}})
    )
  )

