run {
ALLOCATE AUXILIARY CHANNEL a1 TYPE DISK ;
ALLOCATE AUXILIARY CHANNEL a2 TYPE DISK ;
DUPLICATE DATABASE TO '{{ cdb_name }}'
skip pluggable database 'TESTPDB','SBDB1120'
logfile
group 1 ('{{redo1_dg}}','{{redo2_dg}}') SIZE {{redo_size}}M,
group 2 ('{{redo1_dg}}','{{redo2_dg}}') SIZE {{redo_size}}M
SPFILE
set db_unique_name='{{cdb_name}}_{{ansible_hostname}}'
set control_files='{{redo1_dg}}','{{redo2_dg}}','{{data_dg}}'
set log_archive_dest_1='location={{archive_log_dg}}'
set "_disk_sector_size_override"='true'
set db_create_online_log_dest_1='{{redo1_dg}}'
set db_create_online_log_dest_2='{{redo2_dg}}'
set log_file_name_convert '+REDOA_01','{{redo1_dg}}','+REDOB_01','{{redo2_dg}}'
set local_listener='(DESCRIPTION=(ADDRESS=(PROTOCOL=IPC)(KEY={{cdb_name}}_IPC)))'
set audit_file_dest='{{admp_dest}}/{{cdb_name}}/adump'
set sga_target='{{sga_size_mb}}m'
set sga_max_size='{{sga_size_mb}}m'
set db_recovery_file_dest='{{fra_dg}}'
set diagnostic_dest='{{oracle_base}}'
reset instance_name
reset log_archive_config
reset fal_server
reset dg_broker_start
set db_file_name_convert  '+DATA_01','{{data_dg}}'
set db_create_file_dest='{{data_dg}}'
BACKUP LOCATION '{{stage_directory}}/CDB{{db_release.split('.')[0]}}C'
;
}
